<ion-view view-title="About us">
	<ion-nav-bar class="bar-mainColor" align-title="center">
		<ion-nav-buttons side="left">
			<button style="color: #705F25;" class="button button-icon icon ion-android-arrow-back" onclick="history.go(-1);">
			</button>
		</ion-nav-buttons>
	</ion-nav-bar>
  <ion-content>
  <div align="center">
  	    <img ng-src="/img/logo.jpg" width="50%" height="40%" style="margin: 10px"/>
  </div>
  <p style="text-align: center;">Version 1.0.0 BETA</p>
<div style="text-align: justify; margin: 10px;" >
iTechz was developed by a group of developers, 5 students from FTMK UTeM.
<br />
<br />
iTechz offers ticketing system which the staff and lecturers can directly send report of any problem on facilities in FTMK to the technicians. 
<br />
<br />
This will save a lot of time and ease the reporting procedure and replace the manual system.

</div>
  </ion-content>
</ion-view>
