<ion-view view-title="History">


<ion-content overflow-scroll="false">
	<ion-refresher
	spinner="crescent"
	pulling-icon="false"
    on-refresh="doRefresh()">
  </ion-refresher>
  
	<ion-list>
	   <ion-item ng-click="goDetails()">
      <h2 style="margin-right:0px"><b><font color="#000000">TCTFTMK0077</b></font>
	  <font><b><span style="font-size:0.7em;  float:right">15/2/2017  8:16 PM</span></b></font></h2>
      <p>PC 001 screen retak</p>
      </ion-item>
            	   <ion-item ng-click="goDetails('{{ticketData.ticket_id}}')">
      <h2 style="margin-right:0px"><b><font color="#000000">TCTFTMK0081</b></font>
	  <font><b><span style="font-size:0.7em;  float:right">11/2/2017  8:16 PM</span></b></font></h2>
      <p>PC 005 wayar hilang</p>
      </ion-item>
      	   <ion-item ng-click="goDetails('{{ticketData.ticket_id}}')">
      <h2 style="margin-right:0px"><b><font color="#000000">TCTFTMK0082</b></font>
	  <font><b><span style="font-size:0.7em;  float:right">12/2/2017  8:16 PM</span></b></font></h2>
      <p>PC 006 cpu retak</p>
      </ion-item>
      	   <ion-item ng-click="goDetails('{{ticketData.ticket_id}}')">
      <h2 style="margin-right:0px"><b><font color="#000000">TCTFTMK0083</b></font>
	  <font><b><span style="font-size:0.7em;  float:right">13/2/2017  8:16 PM</span></b></font></h2>
      <p>PC 007 keyboard retak</p>
      </ion-item>
      	   <ion-item ng-click="goDetails('{{ticketData.ticket_id}}')">
      <h2 style="margin-right:0px"><b><font color="#000000">TCTFTMK0084</b></font>
	  <font><b><span style="font-size:0.7em;  float:right">20/2/2017  8:16 PM</span></b></font></h2>
      <p>PC 008 screen hilang</p>
      </ion-item>
	  
	  	<div ng-hide="true">
	<div class="icon ion-ios-reload" style="color: #808080; font-size: 150px; margin-top: 100px; margin-bottom:100px;" align="center">
	</div>
	<div align="center"  style="font-size: 13px;">	
	No ticket in this section. <br /> Please pull down to refresh
	</div>
	</div>
	
</ion-content>

</ion-view>
