<ion-view view-title="Login">

  <ion-content  style="background: #FFB75E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #ffc900, #faf980);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #ffc900, #faf980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
" overflow-scroll="false">
  <div align="center" style="margin-top:130px;">
<h2><font color="white"><p style="font-size:80px">iTechz</p></font></h2>
  </div>

      <form ng-submit="doLogin()">
   <div class="card">
	<input type="text" auto-focus ng-model="loginData.usrName" placeholder="Username" name="fname" style="text-align: left; margin-left:15px; margin-top:15px; margin-bottom:10px;">
	<input type="password" ng-model="loginData.usrPass" placeholder="Password" name="fname" style="text-align: left; margin-left:15px; margin-bottom:20px;">	
	</div>
	<div align="center" width="100%">
	<div class="button button-block button-normal"  style="margin-left:10px; margin-right:10px;" ng-click="doLogin()">
	<i class="icon ion-log-in">
	<font color="black">Login</font>
	</i>
	</div>	
	<div class="button button-clear"  style="margin-left:10px; margin-right:10px;" ng-click="doRegister()">
	<font color="black">Register</font>
	</i>
	</div>
	</div>	
	</form>
   </ion-content>

</ion-view>