<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-mainColor">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left" style="color: #705F25;">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <!-- TABS -->
    <ion-tabs class="tabs-icon-top" ng-hide="techTab">

<!--       <ion-tab title="Search" icon-off="ion-search" icon-on="ion-search" href="#/app/search">
        <ion-nav-view name="tab-search"></ion-nav-view>
      </ion-tab> -->
    <ion-tab badge="2" badge-style="badge-assertive" title="My Ticket"  icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/app/my_ticket">
    <ion-nav-view name="tab-my_ticket"></ion-nav-view>
    </ion-tab>

    <ion-tab badge="1" badge-style="badge-assertive" title="Answered"   icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/app/answered">
    <ion-nav-view name="tab-answered"></ion-nav-view>
    </ion-tab>

    <ion-tab badge="1" badge-style="badge-assertive" title="Open"  icon-off="ion-ios-box-outline" icon-on="ion-ios-box" href="#/app/open">
    <ion-nav-view name="tab-open"></ion-nav-view>
    </ion-tab>

    <ion-tab badge="1" badge-style="badge-assertive" title="Overdue"  icon-off="ion-ios-clock-outline" icon-on="ion-ios-clock" href="#/app/overdue">
    <ion-nav-view name="tab-overdue"></ion-nav-view>
    </ion-tab>

    <ion-tab badge="9" badge-style="badge-assertive" title="closed"  icon-off="ion-ios-briefcase-outline" icon-on="ion-ios-briefcase" href="#/app/closed">
    <ion-nav-view name="tab-closed"></ion-nav-view>
    </ion-tab>

    </ion-tabs>

        <ion-tabs class="tabs-icon-top" ng-hide="usrTab">

<!--       <ion-tab title="Search" icon-off="ion-search" icon-on="ion-search" href="#/app/search">
        <ion-nav-view name="tab-search"></ion-nav-view>
      </ion-tab> -->
    <ion-tab title="My Ticket"  icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/app/replyUser">
    <ion-nav-view name="tab-replyUser"></ion-nav-view>
    </ion-tab>

    <ion-tab title="History"   icon-off="ion-ios-timer-outline" icon-on="ion-ios-timer" href="#/app/history">
    <ion-nav-view name="tab-history"></ion-nav-view>
    </ion-tab>


    </ion-tabs>

  </ion-side-menu-content>

   <!-- Side Menu (left) -->
  <ion-side-menu side="left">
    <ion-content>
    <div style="background: #FEF102; padding: 10px; ">
    <img ng-src="/img/user.png" width="20%" height="48px" style="margin: 10px"/>
    <p style="    margin-top: -58px; margin-left: 75px; font-size: 16px; color: #705F25;">
    Syafiq Azlan 
    <br />
    B031610373  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="icon ion-edit" style="font-size: 18px; color: black;" ng-click="goEdit()"></i>
    </p>
  </div>
      <ion-list>
        <ion-item menu-close  href="#/tabs4/report">
          <i class="icon ion-bug" style="font-size: 22px;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bug Report
        </ion-item>
        <ion-item menu-close href="#/tabs5/about">
          <i class="icon ion-ios-information" style="font-size: 22px;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;About
        </ion-item>
        <ion-item menu-close ng-click="doLogout()">
          <i class="icon ion-log-out" style="font-size: 22px;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sign out
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
