<ion-view view-title="My Ticket">

	<ion-nav-buttons side="right">
        <input  type="text" autocomplete="on" name="searchTicket" auto-focus ng-if="active == 1" size="13" ng-model="myTicket.ticketSubject" placeholder="Search here" ng-change="searchTicket(myTicket)" style="color: #705F25; background-color: transparent; border:none;">
		<button class="button button-icon icon ion-ios-search-strong" ng-click="openSearch()">

		</button>


		</ion-nav-buttons>

<ion-content overflow-scroll="false">
	<ion-refresher
	spinner="crescent"
	pulling-icon="false"
    on-refresh="doRefresh()">
  </ion-refresher>
  
	<ion-list>
	   <ion-item  ng-repeat="ticketData in ticketData track by $index" ng-click="goDetails('{{ticketData.ticket_id}}')">
      <h2 style="margin-right:0px"><b><font color="#000000">TCTFTMK00{{ticketData.ticket_id}}</b></font>
	  <font><b><span style="font-size:0.7em;  float:right">{{ticketData.ticket_time}}</span></b></font></h2>
      <p>{{ticketData.ticket_report}}</p>
	  </ion-item>

	  	   <ion-item ng-click="goDetails(1)">
      <h2 style="margin-right:0px"><b><font color="#000000">test</b></font>
	  <font><b><span style="font-size:0.7em;  float:right">test</span></b></font></h2>
      <p>test</p>
	  </ion-item>
	  
	  	<div ng-hide="emptyIcon">
	<div class="icon ion-ios-reload" style="color: #808080; font-size: 150px; margin-top: 100px; margin-bottom:100px;" align="center">
	</div>
	<div align="center"  style="font-size: 13px;">	
	No ticket in this section. <br /> Please pull down to refresh
	</div>
	</div>
	
</ion-content>

</ion-view>
