<ion-view view-title="Edit Profile">
  <ion-nav-bar class="bar-mainColor" align-title="center">
  
  <ion-nav-buttons side="left">
    <button style="color: #705F25;" class="button button-icon icon ion-android-arrow-back" onclick="history.go(-1);">
    </button>
 </ion-nav-buttons>

 <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-paper-airplane" ng-click="doEdit()">
    </button>
	
 </ion-nav-buttons>
 </ion-nav-bar>

  <ion-content>
  <div align="center">
 	<i class="icon ion-ios-camera-outline" style="font-size: 180px; color: black;" ng-click="goEdit()"></i> 
  </div>
  <div style="font-size: 15px; margin-top: -32px;" align="center">
  Edit photo	
  </div>
  <div>
  	<div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-man placeholder-icon"></i>
    <input type="text" placeholder="Gender" ng-model="profileData.gender">
  </label>
  <label class="item item-input">
    <i class="icon ion-android-person placeholder-icon"></i>
    <input type="text" placeholder="Username" ng-model="profileData.username">
  </label>
  <label class="item item-input">
    <i class="icon ion-ios-email placeholder-icon"></i>
    <input type="text" placeholder="Email" ng-model="profileData.email">
  </label>
  <label class="item item-input">
    <i class="icon ion-locked placeholder-icon"></i>
    <input type="password" placeholder="Password" ng-model="profileData.password">
  </label>
</div>

  </div>
  </ion-content>
</ion-view>
