<ion-view view-title="Register">
	<ion-nav-bar class="bar-mainColor" align-title="center">
		<ion-nav-buttons side="left">
			<button style="color: #705F25;" class="button button-icon icon ion-android-arrow-back" onclick="history.go(-1);">
			</button>
		</ion-nav-buttons>
	</ion-nav-bar>
  <ion-content>

<div class="card">
   <label class="item item-input item-floating-label">
   <span class="input-label">Username</span>
   <input type="text" placeholder="Username" ng-model="regData.username">
   </label>
   <label class="item item-input item-floating-label">
   <span class="input-label">Matric ID</span>
   <input type="text" placeholder="Matric ID" >
   </label>
   <label class="item item-input item-floating-label">
   <span class="input-label">Password</span>
   <input type="password" placeholder="Password" >
   </label>
   <label class="item item-input item-floating-label">
   <span class="input-label">Confirm Password</span>
   <input type="password" placeholder="Confirm Password" >
   </label>
   <label class="item item-input item-floating-label">
   <span class="input-label">Email Address</span>
   <input type="text" placeholder="Email Address" >
   </label>
  <label class="item item-input item-select">
    <div class="input-label">
      Gender
    </div>
    <select ng-model="ticketDetailData.ticket_status">
	<option>Male</option>
      <option>Selected</option>
    </select>
  </label>
</div>
	<div class="button button-block buttonYellow"  style="margin-left:10px; margin-right:10px;" ng-click="doRegister()">
	<font color="black">Register</font>
	</div>
  </ion-content>
</ion-view>
