<ion-view view-title="My Ticket" style="color: #705F25;">


 <ion-content  overflow-scroll="false">
 

<div class="list">

  <label class="item item-input item-select">
    <div class="input-label">
      Lab location
    </div>
    <select ng-model="userData.location">
	<option>Recap Room</option>
      <option>AI Lab 1</option>
            <option>AI Lab 2</option>
      <option>AI Lab 3</option>
      <option>AI Lab 4</option>
      <option>System Lab</option>
      <option>BK 9 & 10</option>
    </select>
  </label>

</div>

 <div class="card">

  <div class="item item-text-wrap">
<div>
<textarea rows="20" style="width:100%; height:100%;" placeholder="Describe your problem here"  ng-model="userData.body">
</textarea>
</div>
  </div>
  </div>
    <div class="button button-block buttonYellow"  style="margin-left:10px; margin-right:10px;" ng-click="doSubmit()">
  <font color="black">Submit</font>
  </div>
</ion-content>
</ion-view>