<ion-view view-title="Bug Report">

  <ion-nav-bar class="bar-mainColor" align-title="center">
  
  <ion-nav-buttons side="left">
    <button style="color: #705F25;" class="button button-icon icon ion-android-arrow-back" onclick="history.go(-1);">
    </button>
 </ion-nav-buttons>

 <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-paper-airplane" ng-click="goReport()">
    </button>
	
 </ion-nav-buttons>
 </ion-nav-bar>
  <ion-content>
 <div class="card">
  <div class="item item-text-wrap">
<div>
<textarea rows="20" style="width:100%; height:100%;" placeholder="Describe your report here"  ng-model="ticketDetailData.ticket_body">
</textarea>
</div>
  </div>
  </div>
  <div align="center" style="margin: 10px;">Please note that your report will take some time to be resolved depending on its severity</div>
  </ion-content>
</ion-view>
