<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->


<ion-nav-view name="about">
	<ion-content class="padding">

	</ion-content>
</ion-nav-view>
