<ion-view view-title="Ticket Search">

	<ion-nav-bar class="bar-mainColor" align-title="center">
		<ion-nav-buttons side="left">
			<button class="button button-icon icon ion-android-arrow-back" onclick="history.go(-1);">
			</button>
		</ion-nav-buttons>
	</ion-nav-bar>

	<ion-content overflow-scroll="false">

	<div style="margin-top:10px; margin-left:15px;" align="center" ng-hide="hideResultFound">
	<p><font size="2"><b>{{matchFound}} results found</b></font></p>
	</div>
	<div ng-hide="hideResult">
	<ion-list>
	   <ion-item ng-repeat="data in ticketData" ng-click="goDetails('{{data.ticket_id}}')">
      <h2 style="margin-right:0px"><b><font color="#000000">TCTFTMK00{{data.ticket_id}}</b></font>
	  <font color="black"><b><span style="font-size:0.7em; float:right">{{data.ticket_time}}</span></b></font></h2>
      <p>{{data.ticket_report}}</p>
	  </ion-item>
	  
	</div>
</ion-content>
	
</ion-view>