<ion-view view-title="Ticket Details">


	<ion-nav-bar class="bar-mainColor" align-title="center">
		<ion-nav-buttons side="left">
			<button style="color: #705F25;" class="button button-icon icon ion-android-arrow-back" onclick="history.go(-1);">
			</button>
		</ion-nav-buttons>
	</ion-nav-bar>

	<ion-content>
		<div class="card" ng-repeat="ticketData in ticketData">
			<div class="item item-divider item-assertive" align="center" style="background: #FEF102; color: #705F25;">
   TCTFTMK00{{ticketData.ticket_id}}
			</div>
			<div class="item item-text-wrap" align="left" style="font-size: 1.0em;">
<table style="width: 100%">
  <tr>
    <td><b>Location</b></td>
    <td>{{ticketData.ticket_place}}</td>
  </tr>
  <tr>
    <td><b>Date</b></td>
    <td>{{ticketData.ticket_time}}</td>
  </tr>
  <tr>
    <td><b>Description</b></td>
    <td>{{ticketData.ticket_report}}</td>
  </tr>
</table>
			</div>
<div style="background: #FEF102;" class="item item-divider icon ion-android-create" align="center" ng-click="goReply()">
   Post Reply
			</div>
		</div>
	<br />	
	</ion-content>

	
</ion-view>