<ion-view view-title="Post Reply" style="color: #705F25;">

  <ion-nav-bar class="bar-mainColor" align-title="center">
  
  <ion-nav-buttons side="left">
    <button style="color: #705F25;" class="button button-icon icon ion-android-arrow-back" onclick="history.go(-1);">
    </button>
 </ion-nav-buttons>

 <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-paper-airplane" ng-click="ticketResponse()">
    </button>
	
 </ion-nav-buttons>
 </ion-nav-bar>

 <ion-content  overflow-scroll="false">
 

<div class="list">

  <label class="item item-input item-select">
    <div class="input-label">
      Action Status
    </div>
    <select ng-model="ticketDetailData.ticket_status">
	<option>In progress (Answered)</option>
      <option>Resolved (Closed)</option>
    </select>
  </label>

</div>

 <div class="card">

  <div class="item item-text-wrap">
<div>
<textarea rows="20" style="width:100%; height:100%;" placeholder="Type your response here"  ng-model="ticketDetailData.ticket_body">
</textarea>
</div>
  </div>
  </div>
</ion-content>
</ion-view>