.bar-header.has-tabs-top {
background: #FEF102;  /* fallback for old browsers */
color: 	#705F25;	
}

.bar-header {
background: #FEF102;  /* fallback for old browsers */
color: 	#705F25;	
}

.popup-buttons .button {
background: #FEF102;  /* fallback for old browsers */
color: 	black;
border: none;	
}

.buttonYellow {
background: #FEF102;  /* fallback for old browsers */
color: 	#705F25;
border: none;	
}

.placeholder-icon {
    color: #777575;
}
